body{
	background: #fefefe;
	color: #747474;
	font-weight: 400;
	font-size: 1.4em;
	font-family: 'Lato', Arial, sans-serif;
  overflow:hidden;
}

/* Estilo de la imagen de fondo de cada apartamento, al 100% de toda la pagina. */

.button{
  border: 4px solid #fff;
  background: none;
  padding: 5px 20px;
}

.capsule-button{
  width: 100%;
  display: flex;
}

#first-section{
  width: 100%;
  height: 100vh;
}

  .titlehome{
    width: 100%;
    height: 4%;
    margin: 10px 0 0 10px;
    font-weight: bold;
  }

  .titlehome a{
    text-decoration: none;
    color: #fefefe;
    transition: all 0.5s ease-in-out; 
  }

  .titlehome a:hover{
    color: #e0e0e0;
    font-size: 1.5em;
  }


  .info-apartment{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100vh;
    background:url('../images/apt/1.jpg');
    background-size:100% 100%;
  }

  .info-apartment .title-small{
    font-size: 1.3em;
    margin-bottom: 10%;
  }

  .info-apartment h2{
    font-size: 2em;
  }

  .text-info-container{
    width: 70%;
    padding: 10px 20px 10% 20px;
    margin: 20px auto;
    background-color: rgba(0,0,0,0.5);
    color: #fff
  }

  .info-apartment .capsule-button{
    justify-content: center;
  }

  .info-apartment .capsule-button button{
    position: absolute;
    bottom: 20px;
    background-color: rgba(255,255,255,0.5);
    color: #115049;
    transition: all 0.3s ease-in-out;
    border: 3px solid #fff;
    padding: 10px 15px; 
  }

  .info-apartment .capsule-button button:hover{
    background-color: rgba(255,255,255,0.8);
    color: #21ae9e;
  }


#second-section{
  width: 100%;
  height: 100vh;
}

  header{
    border-bottom: 3px solid #656565;
  }

  .header-navigation{
    background: #27baab;
    padding: 30px 0;
    color: #fefefe;
  }

  .header-navigation .capsule-button a{
    width: 10%;
    display: flex;
    justify-content: center;
  }

  .btn-go-home{
    font-size: 2em;
    color: #fff;
  }

  .header-navigation .capsule-button .btn-go-back{
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .header-navigation .capsule-button .btn-go-back button{
    cursor: pointer;
    color: #fff;
    margin-left: -15%;
    transition: all 0.3s;
  }

  .header-navigation .capsule-button .btn-go-back button:hover{
    background: #f8f8f8;
    color: #8e8e8e;
  }

  .md-tabs-navigation .md-button{
    border: 3px solid #aaa;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .md-tabs-navigation .md-button .md-button-content{
    font-size : 1.5em;
  }


  section{
    overflow: auto;
  }

    .info-text-green{
      color: #27baab;
    }

    .texto-h4 p{
      font-size: 0.8em;
    }

    .img-recorridos{
      width: 360px;
    }

    .nav-slider-pisos{
      margin-bottom: 10px;
      font-size: 1.1em;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
      background-color: #27baab;
    }

#btn_back{
	
		position:relative;
		width:120px;
		height:30px;
		top:10px;
		left:10px;
		background:red;
		cursor:pointer;
}

  
#apart1Content{
	background:white;
	position:relative;
	width:100%;
	height:105%;
}

.apartamento-dual{
  width: 197px;
  height: 250px;
}

.apartamento-dual.move-right{
  background-position: -197px;
}

.available{

	position:relative;
	width:180px;
	height:52px;
	background:url('../images/disponiblesT1.png');
	background-size:100% 100%;
	display:inline-block;
	top:-4px;
	margin:auto;
}

  
@-moz-keyframes buttonAnim
{
0%   {background:rgba(255,255,255,0.1);}
25%   {background:rgba(255,255,255,0.2);}
50%  {background:rgba(255,255,255,0.4);}
75%  {background:rgba(255,255,255,0.2);}
100%   {background:rgba(255,255,255,0.1);}
}
 
@-webkit-keyframes buttonAnim 
{
0%   {background:rgba(255,255,255,0.1);}
25%   {background:rgba(255,255,255,0.2);}
50%  {background:rgba(255,255,255,0.4);}
75%  {background:rgba(255,255,255,0.2);}
100%   {background:rgba(255,255,255,0.1);}
} 




[id='1a']{
	position:relative;
	width:100%;
	top:46px;
}

.torres-images{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}


#id_backT{
  width:32px;
  height:32px;
  background:url('../images/back.png') no-repeat;
  background-size:100% 100%;
  cursor:pointer;
}

#id_backT:hover{

  background:url('../images/back_over.png') no-repeat;
  background-size:100% 100%;

}

#id_nextT{
  width:32px;
  height:32px;
  right:0px;
  background:url('../images/fwd.png') no-repeat;
  background-size:100% 100%;
  cursor:pointer;

}

#id_nextT:hover{

  background:url('../images/fwd_over.png') no-repeat;
  background-size:100% 100%;

}

.md-theme-default.md-tabs.md-transparent>.md-tabs-navigation .md-tab-header.md-active, .md-theme-default.md-tabs.md-transparent>.md-tabs-navigation .md-tab-header:focus{
  color: #3dbbab !important;
}

.md-theme-default.md-tabs.md-transparent>.md-tabs-navigation .md-tab-indicator{
  background-color: #3dbbab !important;
}

.md-tabs .md-tab-header-navigation-button{
  display: none;
}


@media (max-width: 575px) {

  .wrap{
    width: 100%;
  }

  .text-info-container{
    padding: 10px 20px 10px 20px;
  }

  .info-apartment{}

  .info-apartment .title-small{
    font-size: 1em;
    margin-bottom: 10px;
  }

  .info-apartment h1{
    font-size: 3em;
  }

  .info-apartment h2{
    font-size: 1.15em;
  }

  #plantas-tab{
    margin-bottom: 20px;
  }

  .md-tabs-navigation{
    flex-wrap: wrap;
  }

  .md-tabs-navigation .md-button{
    min-width: 100%;
    margin: 5px 0;
  }
}

@media (min-width: 768px) { 
  .md-tab-header{
    width: 100%;
  }
}

@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }
