<!DOCTYPE html>
<html>
<head>
	<title>Horizonte Verde | Movil</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div class="contenedor" id="primera-seccion">
		<div class="logo"></div>
		<div class="boton-mas">
			<button>
				VER APARTAMENTOS
			</button>
		</div>
		<div class="redes-sociales">
			<img src="images/iconos/facebook.png">
			<img src="images/iconos/mensaje.png">
			<img src="images/iconos/twitter.png">
			<img src="images/iconos/ubicacion.png">
		</div>
	</div>
	<div class="contenedor" id="segunda-seccion">
		<div class="volver-casa"></div>
		<div class="titulo"></div>
		<div class="apartamentos"></div>
	</div>
</body>
</html>