<!DOCTYPE html>
<html>
<head>
	<title>Horizonte Verde | Movil</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta charset="UTF-8">
</head>
<body>
	<div id="mainindex">
		<div class="contenedor" id="primera-seccion" v-show="showprimero">
			<div class="logo"></div>
			<div class="boton-mas">
				<button v-on:click="changeView">
					VER APARTAMENTOS
				</button>
			</div>
			<div class="redes-sociales">
				<img src="images/iconos/facebook.png">
				<img src="images/iconos/mensaje.png">
				<img src="images/iconos/twitter.png">
				<img src="images/iconos/ubicacion.png">
			</div>
		</div>
		<div class="contenedor" id="segunda-seccion" v-show="showsegundo">
			<div class="volver-casa"></div>
			<div class="titulo"></div>
			<div class="apartamentos"></div>
		</div>
	</div>

	<script type="text/javascript" src="https://unpkg.com/vue@2.5.8/dist/vue.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>